.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.con {
  position: absolute;
  width: 366px;
  height: 374px;
  border: 0.5px solid rgba(255, 255, 255, 025);
  box-shadow: #cecece 1px 4px 18px 5px;
}
.hga {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
body {
  background-color: white;
}
.ha {
  display: flex;
  margin-left: 30px;
  margin-top: 5px;
}
.haw {
  width: 291px;
  height: 154px;
  margin-top: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin-top: 74px;
  margin-bottom: 146px;
  margin-right: 42px;
  margin-left: 33px;
}
